<div id="tarjeta">
  <p-card class="cardActor" title="Detalle del actor" [style]="{height: '378px'}" style="padding: 10px">
    <div class="detalleActor" *ngFor="let info of tarjeta" ng-model="checked" >
      <label>Nombres:</label>
      {{info.nombres}}
      <br>
      <label>Apellidos:</label>
      {{info.apellidos}}
      <br>
      <label>Fecha de nacimiento:</label>
      {{info.fechaNacimiento}}
      <br>
      <label>Numero de Peliculas:</label>
      {{info.numeroPeliculas}}
      <br>
      <label>Retirado:</label>
      {{info.retirado}}
    </div>
  </p-card>
</div>
