<div>
  <div class="row">
    <div class="col-sm-6">
      <app-actor-arrusel></app-actor-arrusel>
    </div>
    <div class="col-sm-6">
      <app-actor-form></app-actor-form>
    </div>
  </div>

  <div class="row">
      <app-actor-info></app-actor-info>

  </div>

  <div class="row">
    <div class="col-sm-6">
      <app-pelicula-form></app-pelicula-form>
    </div>
    <div class="col-sm-6">
      <app-actor-card></app-actor-card>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <app-pelicula-table></app-pelicula-table>
    </div>
    <div class="col-sm-1">
  </div>
</div>

