<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >

  <ol class="carousel-indicators">
    <li data-target="#myCarousel" *ngFor="let x of arregloCarrusel;let i = index" [attr.data-slide-to]="i" ngClass="i == 0 ? 'active' : ''"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://martamoralescastillo.files.wordpress.com/2015/01/consejos-para-escoger-tu-foto-de-perfil-en-linkedin-redes-sociales-marca-personal-branding-marta-morales-blog-curiosidades-social-media.png?w=350&h=200&crop=1" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Actores</h5>
        <p>Pelicuas</p>
      </div>
    </div>
    <div class="carousel-item" *ngFor="let info of arregloCarrusel; let i = index">
      <img class="d-block w-100" src="https://martamoralescastillo.files.wordpress.com/2015/01/consejos-para-escoger-tu-foto-de-perfil-en-linkedin-redes-sociales-marca-personal-branding-marta-morales-blog-curiosidades-social-media.png?w=350&h=200&crop=1" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{info.nombres}}</h5>
        <p>{{info.apellidos}}</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

