<div class="formulario">
  <form class="actorForm">
    <mat-form-field class="formulario-actor" >
      <input matInput placeholder="Nombres" name="nombresAct" [(ngModel)]='nombresAct'>
    </mat-form-field>
    <mat-form-field class="formulario-actor" >
      <input matInput placeholder="Apellidos" name="apellidosAct" [(ngModel)]='apellidosAct'>
    </mat-form-field>
    <mat-form-field class="formulario-actor" >

      <input matInput placeholder="Fecha de Nacimiento" name="fechaNacimientoAct" type="date" [(ngModel)]='fechaNacimientoAct'>

    </mat-form-field>
    <mat-form-field class="formulario-actor">
      <input matInput placeholder="Numero de Peliculas"  name="numPeliculasAct" type="number" [(ngModel)]="numPeliculasAct">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Esta retirado" name="retiradoAct" [(ngModel)]='retiradoAct' #retiradoForm>
        <mat-option [value]=true>Si</mat-option>
        <mat-option [value]=false>No</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
        <button mat-raised-button style="width: 100%;" (click)="limiparPantalla()">
          Limpiar
        </button>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <button mat-raised-button style="width: 100%;" (click)="registrarActor()">
          Registrar
        </button>
      </div>
      <div class="col-sm-1"></div>
    </div>

  </form>
</div>
