pelicula-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.casillaForm {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-top-width: 0px;
}



